<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<link rel="stylesheet" href="style.css">
</head>

<body ng-app="app">
    <div class="container" ng-controller="favoritesCtrl">
        <nav class="navbar navbar-expand-lg navbar-light border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">PokeFavorites</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Favoritos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pokemonList.html">Lista</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="profile.html">Profile</a>
                        </li>
                    </ul>
                    <button ng-click="handleClickLogout()" type="button" class="btn btn-link">Log out</button>
                </div>
            </div>
        </nav>
        <h1 class="display-4 fw-normal text-center m-5">Favoritos ({{ pokemonFavorite.length }})</h1>
        <main>
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 mb-3 text-center">

                <div class="col" ng-repeat="pokemon in pokemonFavorite">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary" style="max-width: 18rem;">
                        <div class="card-header py-3 text-white bg-primary border-primary">
                            <h4 class="my-0 fw-normal">
                                {{ pokemon.name }}
                            </h4>
                        </div>
                        <div class="card-body">
                            <img class="card-image"
                                    src="{{ pokemon.image }}"
                                    alt="{{ pokemon.name }}" />
                                <div>
                                    <button ng-click="handleClickDelete(pokemon._id)" type="button" class="btn btn-secondary">Desmarcar</button>
                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="main.js"></script>
</body>

</html>